@charset "ISO-8859-1";

* {
	font-family: Helvetica;
}
body {
	margin: 0px;	
}
h3 {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;

}
button {
	border-radius: 25pt;
    padding: 10pt;
    margin: 5px;
    border: 0pt;
    cursor: pointer;
    background-color: #85D6FF;
}
button:active {
    transform: translateY(.5px);
}
button:hover {
    background-color: #0096E0;
}
button.embedded {
	border-radius: 0pt;
    padding: 0pt;
    margin: 0px;
    border: 0pt;
    cursor: pointer;
    background-color: inherit;
}
input {
    border-radius: 25pt;
    padding: 5pt;
}
select {
	border-width: 2px;
	border-radius: 25pt;
	padding: 5pt;
}
label {
	padding: 5pt;
	font-weight: bold;
}
table {
    border-collapse: collapse;
	margin: 5px;
}
td, th {
    border: 1px solid #999;
    padding: 0.5em;
    text-align: left;
	white-space: pre;
}
td.total {
	border: 2px solid black;
}
.container-fluid {
	display: grid;
	grid-template-columns: 15vw 85vw;
	grid-template-rows: 15vh 85vh;
	grid-template-areas: 	'header header'
							'menu main';
}
header {
	grid-area: header;
	background-size: contain;
}
.display-port {
	grid-area: main;
	overflow: hidden;
}
.sign-up-form {
    height: 100%;
	display: flex;
	flex-direction: column;
}
.hidden {
    display: none;
}
.list-group {
	grid-area: menu;
}
.list-group button {
	display: block;
	width: 100%;
}
.list-group-item {
	border-radius: 25pt;
    margin: 5px 0px 5px 0px;
    border: 0pt;
    cursor: pointer;
    background-color: #85D6FF;
}
.link-primary {
	color: blue;
	text-decoration: underline;
	cursor: auto;
}
.scrollable {
	overflow: auto;
}
.did-not-start {
	background-color: lightgrey;
}
.retired {
	background-color: gainsboro;
}
.disqualified {
	background-color: grey;
}
.on-last-lap {
	background-color: #FFEE75;
}
.finished-race {
	background-color: palegreen;
}
.warning-flag-prepare-raise {
	padding: 5pt;
	margin: 0;
	background: linear-gradient(to top right, white, cornflowerblue);
}
.warning-flag-raised {
	padding: 5pt;
	margin: 0;
	background-color: cornflowerblue;
}
.warning-flag-prepare-lower {
	padding: 5pt;
	margin: 0;
	background: linear-gradient(to bottom left, white, cornflowerblue);
}
.warning-flag-lowered {
	padding: 5pt;
	margin: 0;
}
.blue-peter-prepare-raise {
	padding: 5pt;
	margin: 0;
	background: linear-gradient(to top right, white, blue);
}
.blue-peter-raised {
	padding: 5pt;
	margin: 0;
	background-color: blue;
}
.blue-peter-prepare-lower {
	padding: 5pt;
	margin: 0;
	background: linear-gradient(to bottom left, white, blue);
}
.blue-peter-lowered {
	padding: 5pt;
	margin: 0;
}