@charset "ISO-8859-1";

* {
	font-family: Helvetica;
}

body {
	margin: 0px;	
}

/* div {
	outline: 1px solid CadetBlue;
} */

button {
	border-radius: 25pt;
    padding: 10pt;
    margin: 5px;
    border: 0pt;
    cursor: pointer;
    background-color: #85D6FF;
}

input {
    border-radius: 25pt;
    padding: 5pt;
}

select {
	border-radius: 25pt;
    padding: 5pt;
}

label {
	padding: 5pt;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #999;
    padding: 0.5em;
    text-align: left;
}

.container-fluid {
	display: grid;
	grid-template-columns: 15vw 85vw;
	grid-template-rows: 15vh 75vh 10vh;
	grid-template-areas: 	'header header'
							'menu main'
							'footer footer';
}

header {
	grid-area: header;
	background-size: contain;
}

/* .jumbotron {
	grid-area: header;
	background-size: contain;
} */

.list-group {
	grid-area: menu;
}

.list-group button {
	/* background-color: #f1f1f1; */
	display: block;
	width: 100%;
}

.list-group-item {
	border-radius: 25pt;
    /* padding: 10pt; */
    margin: 5px 0px 5px 0px;
    border: 0pt;
    cursor: pointer;
    background-color: #85D6FF;
}

.link-primary {
	color: blue;
	text-decoration: underline;
	cursor: auto;
}

.display-port {
	grid-area: main;
	overflow: scroll;
}

footer {
	grid-area: footer;
	background-size: contain;
}