.race-console {
	height: 100%;
	display: flex;
	flex-direction: column;
}
.select-race {
    display: flex;
    align-items: top;
}
.select-race > select {
    height: 3lh;
    max-width:fit-content;
}