/* override default font size set by w3.css */
html,body{
    font-size: initial;
}

.w3-striped tbody tr:nth-child(even){background-color:lightgray}

.bgis-min-content {
    min-width: min-content;
}

.bgis-cell {
    overflow: hidden;
}

@media (min-width:601px) {
    .w3-bginfosys-display-bottommiddle-m1{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%)}
}

@media (min-width:980px) {
    .w3-sidebar{height:100%;width:200px;background-color:#fff;position:absolute!important;z-index:1;overflow:visible}
}